.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 345px; */
}

/* 

.progressContainer {
  border-radius: 50px;
  overflow: hidden;
  background-color: #f1f1f1;
  height: 7px;
}

.progressBarCompleted {
  background-color: #00e472;
  width: 60%;
  text-align: center;
}

.progressLabel {
  font-size: 20px;
  color: green;
} */
