/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: "border-box";
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.active {
  border-bottom: whitesmoke solid 2px;
  font-weight: bolder;
  border-left: "5px solid #f7bc45";
}

.p.active {
  background: "rgba(247, 188, 69, 0.2)";
}

footer p {
  color: white;
}

footer ul li {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}
